.hero-bg {
  background: #f1f3ff;
  height: 35rem;
  font-family: Helvetica;
}

.navbar-toggler {
  width: fit-content;
  border-radius: 0%;
  border-color: transparent;
}

.img-logo {
  margin-left: 1rem;
}

#hero .nav-item {
  margin-right: 1rem;
}

.navbar {
  font-weight: 700;
  font-size: regular;
}

.hero-content {
  margin-top: 2rem;
}

.hero-content h1 {
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.hero-content p {
  margin-bottom: 1rem;
}

#hero .btn {
  font-weight: bold;
  color: light;
  background-color: #5cb85f;
  border-color: #5cb85f;
  width: fit-content;
}

#services h3 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.checklist {
  display: flex;
  flex-grow: 1;
}

.check {
  margin-left: 1rem;
  justify-content: center;
}

.why-us-content {
  margin-top: 7rem;
}

.why-us-content h3 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

#why-us .card {
  width: 18rem;
  margin-bottom: 1rem;
}

#why-us .card-title {
  margin-left: 0.5rem;
  margin-top: 1.5rem;
  font-weight: bold;
}

#why-us .why-us-img {
  margin-left: 0.5rem;
}

#why-us .card-text {
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.testimonial-content {
  margin-top: 7rem;
}

.testimonial-content h3 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

#testimonial .carousel {
  margin-top: 2rem;
}

#testimonial .card {
  width: 48rem;
  height: 16rem;
  background: #f1f3ff;
}

#testimonial .img {
  margin-left: 3rem;
  margin-top: 1rem;
}

#testimonial .review {
  margin-left: -25rem;
  margin-top: 1.5rem;
}

#testimonial .review p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.carousel-control-prev {
  border-width: 0;
  background-color: transparent;
}

.carousel-control-next {
  border-width: 0;
  background-color: transparent;
}

.cta-content {
  margin-top: 7rem;
}

#cta .card {
  text-align: center;
  background: #0d28a6;
}

#cta .card-title {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

#cta .card-text {
  margin-bottom: 3rem;
}

#cta .btn {
  font-weight: bold;
  color: light;
  margin-bottom: 2rem;
  background-color: #5cb85f;
  border-color: #5cb85f;
}

.faq-content {
  margin-top: 7rem;
}

#faq .col h3 {
  font-weight: bold;
}

#faq .col p {
  margin-top: 1rem;
}

#faq .accordion_n {
  margin-top: 1rem;
}

.footer-content {
  margin-top: 7rem;
  margin-bottom: 5rem;
}

#footer .navigation a {
  font-weight: 600;
  margin-bottom: 1rem;
}

#footer .sosmed-img {
  margin-left: -0.5rem;
  border-width: 0;
  background-color: transparent;
  margin-bottom: 1rem;
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 320px) {
  .hero-content {
    margin-top: -2rem;
  }
  .hero-bg {
    height: 40rem;
  }
  #services .img-fluid {
    margin-top: 2rem;
  }
  #services .content {
    margin-top: 20rem;
  }
  .faq-content {
    text-align: center;
  }
  .why-us-title {
    text-align: center;
  }
  #testimonial .card {
    width: 100%;
    height: 32rem;
    background: #f1f3ff;
  }
  #testimonial .img {
    margin-top: -13rem;
    margin-right: 8rem;
  }
  #testimonial .review {
    margin-top: 10rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .hero-content {
    margin-top: 2rem;
  }
  .hero-bg {
    height: 35rem;
  }
  #services .img-fluid {
    margin-top: 7rem;
    margin-left: 10rem;
  }
  #services .content {
    margin-top: 7rem;
  }
  .faq-content {
    text-align: justify;
  }
  .why-us-title {
    text-align: justify;
  }
  #testimonial .card {
    width: 48rem;
    height: 16rem;
    background: #f1f3ff;
  }
  #testimonial .img {
    margin-left: 3rem;
    margin-top: 1rem;
  }

  #testimonial .review {
    margin-left: -25rem;
    margin-top: 1.5rem;
  }

  #testimonial .review p {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}

/* Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px) {
 ...;
} */

/* X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  ...;
} */

/* XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  ...;
}  */
