#hero {
  background: #f1f3ff;
  font-family: Helvetica;
}

.img-logo {
  margin-left: 1rem;
  margin-top: 1rem;
}

#hero .nav-item {
  margin-right: 1rem;
}

.nav {
  font-weight: 600;
  font-size: regular;
  margin-top: 1rem;
  justify-content: end;
}

.hero-content {
  margin-top: 3rem;
  align-items: start;
}

.hero-content h1 {
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.hero-content p {
  margin-bottom: 1rem;
}

.car-img {
  margin-left: 3rem;
}

#hero .btn {
  font-weight: bold;
  color: light;
  background-color: #5cb85f;
  border-color: #5cb85f;
}

#cari_mobil .btn {
  font-weight: bold;
  color: light;
  background-color: #5cb85f;
  border-color: #5cb85f;
}

.features-content {
  margin-top: 7rem;
}

.features-content h3 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.checklist {
  display: flex;
  flex-grow: 1;
}

.check {
  margin-left: 1rem;
  justify-content: center;
}

.why-us-content {
  margin-top: 7rem;
}

.why-us-content h3 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

#why-us .card {
  width: 18rem;
}

#why-us .card-title {
  margin-left: 0.5rem;
  margin-top: 1.5rem;
  font-weight: bold;
}

#why-us .why-us-img {
  margin-left: 0.5rem;
}

#why-us .card-text {
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.testimonial-content {
  margin-top: 7rem;
}

.testimonial-content h3 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

#testimonial .carousel {
  margin-top: 2rem;
}

#testimonial .card {
  width: 48rem;
  height: 16rem;
  background: #f1f3ff;
}

#testimonial .img {
  margin-left: 3rem;
  margin-top: 1rem;
}

#testimonial .review {
  margin-left: -25rem;
  margin-top: 1.5rem;
}

#testimonial .review p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.carousel-control-prev {
  border-width: 0;
  background-color: transparent;
}

.carousel-control-next {
  border-width: 0;
  background-color: transparent;
}

.cta-content {
  margin-top: 7rem;
}

#cta .card {
  text-align: center;
  background: #0d28a6;
}

#cta .card-title {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

#cta .card-text {
  margin-bottom: 3rem;
}

#cta .btn {
  font-weight: bold;
  color: light;
  margin-bottom: 2rem;
  background-color: #5cb85f;
  border-color: #5cb85f;
}

.faq-content {
  margin-top: 7rem;
}

#faq .col h3 {
  font-weight: bold;
}

#faq .col p {
  margin-top: 1rem;
}

#faq .accordion_n {
  margin-top: 1rem;
}

.footer-content {
  margin-top: 7rem;
  margin-bottom: 5rem;
}

#footer .info {
  margin-right: 7rem;
}

#footer .navigation {
  margin-top: -1.5rem;
  font-weight: 600;
}

#footer .sosmed {
  margin-left: -5rem;
}

#footer .sosmed-img {
  margin-left: -0.5rem;
  border-width: 0;
  background-color: transparent;
}
